@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  display: grid;
}

#__next {
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.card-yellow {
  @apply bg-yellow-500 text-black;
}

.card-black {
  @apply bg-gray-800 text-white;
}

.card-yellow button {
  @apply btn-black-inverted;
}

.card-black button {
  @apply btn-yellow-inverted;
}

.md\:card-yellow {
  @apply md:bg-yellow-500 md:text-black;
}

.md\:card-yellow button {
  @apply md:btn-black-inverted;
}

.md\:card-black {
  @apply md:bg-gray-800 md:text-white;
}

.md\:card-black button {
  @apply md:btn-yellow-inverted;
}

.btn {
  @apply font-bold py-3 px-6 rounded;
}

.btn-lg {
  @apply font-bold py-3 px-8 rounded;
}

.btn-yellow {
  @apply bg-yellow-400 text-black;
}

.btn-black-inverted {
  @apply text-gray-800 bg-transparent border border-solid border-gray-800;
}

.btn-black-inverted:hover {
  @apply text-white bg-black border-black;
}

.btn-yellow-inverted {
  @apply text-yellow-400 bg-transparent border border-solid border-yellow-400;
}

.btn-yellow:hover {
  @apply text-white bg-yellow-600;
}

.btn-yellow-inverted:hover {
  @apply text-white bg-yellow-600 border-yellow-600;
}

.md\:btn-yellow-inverted {
  @apply md:text-yellow-400 bg-transparent border border-solid md:border-yellow-400;
}

.md\:btn-yellow-inverted:hover {
  @apply md:text-white md:bg-yellow-600 md:border-yellow-600;
}

.md\:btn-black-inverted {
  @apply md:text-gray-800 bg-transparent border border-solid md:border-gray-800;
}

.md\:btn-black-inverted:hover {
  @apply md:text-white md:bg-black md:border-black;
}
