@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  display: grid;
}

#__next {
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  justify-content: stretch;
  align-content: space-between;
}

input:checked ~ .toggle-circle {
  transform: translateX(100%);
}
input:checked ~ .toggle-path {
  @apply bg-black;
}

.required::after {
  content: ' *';
  @apply text-red-500;
}

.form-error {
  @apply text-red-500;
}

.form-error::before {
  display: inline;
  content: '⚠ ';
}

.input {
  @apply appearance-none border border-transparent w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-md rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent;
}

.offset-header {
  margin-top: 88px;
}

.card {
  @apply shadow-lg rounded-lg text-center p-8 mb-8 transition-colors duration-300;
}

.card-yellow {
  @apply bg-yellow-500 text-black;
}

.card-black {
  @apply bg-gray-900 dark:bg-gray-300 text-white dark:text-black;
}

.card-yellow button {
  @apply btn-black-inverted;
}

.card-black button {
  @apply btn-yellow-inverted dark:btn-black-inverted;
}

.md\:card-yellow {
  @apply md:bg-yellow-500 md:dark:bg-yellow-500 md:text-black;
}

.md\:card-yellow button {
  @apply md:btn-black-inverted;
}

.md\:card-black {
  @apply md:bg-gray-900 md:dark:bg-gray-300 md:text-white md:dark:text-black;
}

.md\:card-black button {
  @apply md:btn-yellow-inverted md:dark:btn-black-inverted;
}

.btn-sm {
  @apply font-bold py-2 px-4 rounded transition-colors duration-100 shadow-md cursor-pointer;
}

.btn {
  @apply font-bold py-3 px-6 rounded transition-colors duration-100 shadow-md cursor-pointer;
}

.btn-lg {
  @apply font-bold py-3 px-8 rounded cursor-pointer;
}

.btn-yellow {
  @apply bg-yellow-400 text-black;
}

.dark\:btn-yellow {
  @apply dark:bg-yellow-400 dark:text-black;
}

.btn-black {
  @apply text-white bg-gray-900;
}

.btn-black:hover {
  @apply bg-gray-700;
}

.btn-black-inverted {
  @apply text-gray-900 bg-transparent border border-solid border-gray-900;
}

.btn-black-inverted:hover {
  @apply text-white bg-gray-900 border-gray-900;
}

.dark\:btn-black-inverted {
  @apply dark:text-gray-900 bg-transparent border border-solid dark:border-gray-900;
}

.dark\:btn-black-inverted:hover {
  @apply dark:text-white md:dark:bg-gray-900 dark:border-gray-900;
}

.md\:dark\:btn-black-inverted {
  @apply md:dark:text-gray-900 bg-transparent border border-solid md:dark:border-gray-900;
}

.md\:dark\:btn-black-inverted:hover {
  @apply md:dark:text-white md:dark:bg-gray-900 md:dark:border-gray-900;
}

.btn-yellow-inverted {
  @apply text-yellow-400 bg-transparent border border-solid border-yellow-400;
}

.btn-yellow:hover {
  @apply text-white bg-yellow-600;
}

.dark\:btn-yellow:hover {
  @apply dark:text-white dark:bg-yellow-600;
}

.btn-yellow-inverted:hover {
  @apply text-white bg-yellow-600 border-yellow-600;
}

.md\:btn-yellow-inverted {
  @apply md:text-yellow-400 bg-transparent border border-solid md:border-yellow-400;
}

.md\:btn-yellow-inverted:hover {
  @apply md:text-white md:bg-yellow-600 md:border-yellow-600;
}

.md\:btn-black-inverted {
  @apply md:text-gray-900 bg-transparent border border-solid md:border-gray-900;
}

.md\:btn-black-inverted:hover {
  @apply md:text-white md:bg-gray-900 md:border-gray-900;
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

[data-placeholder]::after {
  content: ' ';
  box-shadow: 0 0 50px 9px rgba(1, 1, 1);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  animation: load 1s infinite;
}
@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}
